.defeated {
    background: rgba(247, 2, 2, 0.5)
}

.victorious {
    background: rgba(5, 132, 255, 0.5)
}

.overall-card {
    position: relative;
    background-color: transparent;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* border: 5px solid magenta; */
    align-items: center;
}

.card-stack {
    position: relative;
    background-color: rgba(7, 7, 55,1);
    display: flex;
    color: white;
    align-items: center;
    flex-direction: column;
}

.participant-spells {
    width: '2rem'; 
    height: '2rem';
    overflow: 'visible';
}

.card-header {
    /* background-color: rgba(52, 86, 139,0.5); */
    color: white;
    width: '2rem'; 
    height: '2rem';
    overflow: 'visible';
    border: 1px solid white;
}

.card {
    /* padding: 0 10%; */
    border: 1px solid white;
    height: 7rem;
    width: 60rem;
    overflow: visible;
}

.card-content {
    /* text-align: center; */
    display: flex;
    justify-content: space-evenly;
    align-items: space-evenly;
    flex-direction: row;
}

.champ-photo {
    width: calc(100%/8);
    display: flex;
    flex-direction: row;
}

.summoner-name {
    width: calc(100%/8);
}

.kda {
    width: calc(100%/8);
    margin-left: 3rem;
}

.dmg-dealt {
    width: calc(100%/8);
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-flow: column;
}

.gold-earned {
    margin-left: 1rem;
    width: calc(100%/8);
}

.cs {
    width: calc(100%/8);
}

.wards-placed {
    width: calc(100%/8);
}

.items {
    width: calc(100%/8);
}